body
{
    font-family: "Comic Sans MS", cursive, sans-serif;

background-image: url(img.png);
height: 100vh;
background-size: cover;
    background-position: center;
    
}
form
{
    position:relative;
    z-index: 0;
    background:rgba(0.0,0.7,0.0,0.4);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
